.vs/
.vscode/
.bdep/
.cache/

# Local default options files.
#
.build2/local/

# Compiler/linker output.
#
compile_commands.json
*.d
*.t
*.i
*.ii
*.o
*.obj
*.so
*.dll
*.a
*.lib
*.exp
*.pdb
*.ilk
*.exe
*.exe.dlls/
*.exe.manifest
*.pc
